# compiled output
nest*/dist
**/node_modules
stencil-ui/dist/
!stencil-ui/www/favicon.ico
stencil-ui/www/


# Logs
*.sw[mnpcod]
logs
*.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
nest*/coverage
nest*/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

